{% load staticfiles %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Django</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <a href="/">Home</a>|
  <a href="/student">Add Student</a>|
  <a href="/additem">Add Item</a>
  <br/>
    {% block content %}{% endblock content %}
</body>
</html>