{% extends "base.html" %}
{% block content %}
<form action="/additem" method="post">
  {% csrf_token %}
  <table>
  {{form.as_table}}
  </table>
  <br/><input type="submit"/>
</form>
<table>
{% for i in friends %}
<tr><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endfor %}
{{additem}}
{% endblock content %}