{% extends "base.html" %}

{% block content %}
  {{homes}}
  <form method="post" action="/">
  {% csrf_token %}
  <table>
    <tr>
      <th></th>{% for j in student %}<th>{{j}}</th>{% endfor %}
    </tr>
    {% for i in student %}
      <tr><th>{{i}}</th>
      {% for j in additem %}
        <td><input name="{{i}}_{{j}}" type="text"/></td>
      {% endfor %}
      </tr>
  {% endfor %}  
  </table>
  <input type="submit"/>
  </form>
<table>
    <tr>
      <th></th>{% for j in homes %}<th>{{j.0}}</th>{% endfor %}
    </tr>
    {% for i in homes %}
      <tr><th>{{i.1}}</th>
      {% for j in homes %}
        <td>{{j.4}}</td>
      {% endfor %}
      </tr>
  {% endfor %}  
  </table>
{% endblock content %}