{% extends "base.html" %}

{% block content %}
<form method="post" action="/student">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit">
</form>
{% for i in people %}
{{i}}<br/>
{% endfor %}
{{student}}
{% endblock content %}