*{
    color: black;
    border-left-color:darkgoldenrod;
    border-left-width: 5px;
    border-bottom-color:darkgoldenrod;
    border-bottom-width: 5px;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}
body {
    background-image: url("https://assets.visitmilwaukee.org/visitmke/media/global/General%20Images/Gallery%20Size/VM-Milwaukee-Skyline-ArtMuseumNML.jpg?ext=.jpg&quality=95");
    background-size: cover;
}
input, select{
    background-color: gold;
    border: 1px solid darkgoldenrod;
    border-radius: 15px;
    width: 200px;
    padding: 5px;
    color: black;
}
input[type="checkbox"] {
    width: 10px;
}


button{
    background-color: gold;
    color: black;
    margin: 1% 2%;
    border: 2px solid darkgoldenrod;
    padding: 5px;
    width: 20%;
    border-radius: 15px;
}
table {
    width: 100%;
}
#commandline{
    border-left-style: solid;
    border-bottom-style: solid;
    width: 90%;
    margin: 2% auto;
    padding: 1%;
    background-color: goldenrod;
}
#controls{
    width: 90%;
    margin: auto;
}
#command{
    width: 75%;
    background: gold;
}
#messagebox{
    border-left-style: solid;
    border-bottom-style: solid;
    width: 90%;
    margin: 2% auto;
    padding: 1%;
    background-color: goldenrod;
}

#submitButton{
    width: 150px;
}
#homeButton{
    margin: 2%;
    width: 150px;
}
#fields{
    margin: 2% 10%;
    width: auto;
}
#curLoggedIN{
    background-color: goldenrod;
    border-left-style: solid;
    border-bottom-style: solid;
    font-size: smaller;
    padding-left: 2%;
    width: auto;
    height: auto;
}
#errors{
    border-color: darkred;
    border-left-style: solid;
    border-bottom-style: solid;
    padding: 10px;
    background-color: red;
    width: 300px;
}
.errorlist li{
    color:white;
}

.logout {
    width: auto;
    font-size: smaller;
    margin: 5px 0px;
}

