{% extends "main.html" %}
{% block subcontent %}
    <div id="messagebox">TAs:
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        {% for ta in message %}
            <tr>

                <div id="names">
                    <th>{{ ta.first_name }}</th>
                    <th>{{ ta.last_name }}</th>
                    <th>{{ ta.email }}</th>
                    {% if request.session.type == "Admin" %}
                        <th><a href="ta_info?{{ ta.email }}">Info</a></th>
                    {% endif %}
                </div>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock subcontent %}