{% extends "main.html" %}
{% block subcontent %}
    <div id="commandline">Instructors:
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        {% for instr in message %}
            <tr>
                <div id="names">
                    <th>{{ instr.first_name }}</th>
                    <th>{{ instr.last_name }}</th>
                    <th>{{ instr.email }}</th>
                </div>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock subcontent %}