{% extends "main.html" %}
{% block subcontent %}
    <div id="commandline">
    <table>
        <tr>
            <th>Lab name</th>
            <th>TA</th>
            <th>Time</th>
            <th>Days</th>
        </tr>
        {% for lab in course.labs.all %}
            <tr>
                <th><div id="names">{{ course.course_name }}:{{lab.lab_number}}</div></th>
                {% if lab.ta %}
                    <th><div id="name">{{lab.ta}}</div></th>
                {% else %}
                    <th>NA</th>
                {% endif %}
                <th><div id="name">{{lab.time.start}} - {{ lab.time.end}}</div></th>
                <th><div id="name">{{lab.time.days}}</div></th>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock subcontent %}