{% extends "main.html" %}
{% block subcontent %}
    <div id="commandline">
    <table>
        <tr>
            <th>Course name</th>
            <th>TAs</th>
            <th>Instructors</th>
            <th>Time</th>
            <th>Labs</th>
            <th>Days</th>
        </tr>
        {% for c in message %}
            <tr>
                <th>
                    <div id="names">{{ c.course_name }}:</div>
                </th>
                {% if c.ta.all|length == 0 %}
                    <th>NA</th>
                {% else %}
                    <th>
                        {% for ta in c.ta.all %}
                            <div id="names">
                                {{ ta.first_name }} {{ ta.last_name }} {{ ta.email }}
                            </div>
                        {% endfor %}
                    </th>
                {% endif %}

                {% if c.instructor.all|length == 0 %}
                    <th>NA</th>
                {% else %}
                    <th>
                        {% for instr in c.instructor.all %}
                            <div id="names">
                                {{ instr.first_name }} {{ instr.last_name }} {{ instr.email }}
                            </div>
                        {% endfor %}
                    </th>
                {% endif %}

                <th>
                    <div id="times">{{ c.lecture_time.start }} - {{ c.lecture_time.end }}</div>
                </th>

                <th>
                        <div id="names"><a href="labs?{{ c.course_name.split|join:"_" }}">View</a></div>
                </th>
                <th> {{ c.lecture_time.days }}</th>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock subcontent %}
