{% extends "base.html" %}
{% block content %}
    <form method="get" action="/">
        {% csrf_token %}
        {% if request.session.email %}
            <input type="submit" value="Home" id="homeButton"/>
        {% endif %}
    </form>
    <div id="commandline">
        <form method="post" action={{ action }}>
            {% csrf_token %}
            {% if form.non_field_errors %}
                    <div id="errors">{{ form.non_field_errors }}</div>
            {% endif %}
            <table id="fields">
            {% for field in form %}
                <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td>
                {% if field.help_text %}
                    <td class="help">{{ field.help_text|safe }}</td>
                {% endif %}
                {% if field.errors %}
                    <td id="errors">{{ field.errors }}</td>
                {% endif %}
                </tr>
            {% endfor %}
            <tr>
                <td><input type="submit" value="Submit" id="submitButton"/></td>
            </tr>
            </table>
        </form>
    </div>
{% endblock %}