{% extends "base.html" %}

{% block content %}
    <form method="post" action="/"id="curLoggedIN">
        {% csrf_token %}
        Current User: {{ request.session.email }}
        <button class="logout" type="submit" name="command" value="logout">Logout</button>
    </form>
    <form method="post" action="/" id="commandline">
        {% csrf_token %}
        <div id="controls">
            <button type="submit" name="command" value="list courses">List Courses</button>
            <button type="submit" name="command" value="list instructors">List Instructors</button>
            <button type="submit" name="command" value="list tas">List TAs</button>
            {% if request.session.type == "Admin" %}
                <div>
                <button type="submit" name="command" value="add course">Add Course</button>
                <button type="submit" name="command" value="add lab">Add Lab</button>
                <button type="submit" name="command" value="add instructor">Add Instructor</button>
                <button type="submit" name="command" value="add ta">Add TA</button>
                </div>
                <div>
                <button type="submit" name="command" value="assign instructor">Assign Instructor</button>
                <button type="submit" name="command" value="assign ta">Assign TA</button>
                <button type="submit" name="command" value="unassign instructor">Unassign Instructor</button>
                <button type="submit" name="command" value="unassign ta">Unassign TA</button>
                </div>
                <div>
                <button type="submit" name="command" value="change password">Change Password</button>
                <button type="submit" name="command" value="delete user">Remove</button>
                </div>
            {% endif %}

            {% if request.session.type == "TA" %}
                <div>
                    <button type="submit" name="command" value="change password">Change Password</button>
                    <button type="submit" name="command" value="change preferences">Change My Preferences</button>
                    <button type="submit" name="command" value="change ta bio">Change My Bio</button>
                    <button type="submit" name="command" value="edit schedule"> Edit Schedule</button>
                    <button type="submit" name="command" value="View My Info">View My Info</button>
                </div>
            {% endif %}

            {% if request.session.type == "Instructor" %}
                <div>
                    <button type="submit" name="command" value="change password">Change Password</button>
                    <button type="submit" name="command" value="change instructor bio">Change My Bio</button>
                </div>
            {% endif %}

            <br/>
        </div>
    </form>
    {% block subcontent %}{% endblock subcontent %}
{% endblock content %}