{% extends "base.html" %}
{% load tamanage_extras %}

{% block content %}
    <form method="get" action="/">
        {% csrf_token %}
        {% if request.session.email %}
            <input type="submit" value="Home" id="homeButton"/>
        {% endif %}
    </form>
    <div id="commandline">
    <table id="fields">
    <form method="post" action="/schedule_course">
        {% csrf_token %}
        <tr>
            <td>{{schedulecourseform.as_p}}</td>
            <td><button type="submit" value="Submit" id="submitButton">+</button></td></tr>
    </form>
    {% for course in schedule.course.all %}
    <form method="post" action="/schedule_course">
        {% csrf_token %}
        <tr>
            <td>{{course.course_name}}</td>
            <td><button type="submit" name="del_course" value={{course}} id="submitButton">-</button></td>
        </tr>
    </form>
    {% endfor %}
    <form method="post" action="/schedule_course">
        {% csrf_token %}
        <tr>
            <td>{{schedulelabform.as_p}}</td>
            <td><button type="submit" value="Submit" id="submitButton">+</button></td>
        </tr>
    </form>
    {% for labs in schedule.lab.all %}
    <form method="post" action="/schedule_course">
        {% csrf_token %}
        <tr>
            <td>{{labs|lab_name}}</td>
            <td><button type="submit" name="del_lab" value={{labs.id}} id="submitButton">-</button></td>
        </tr>
    </form>
    {% endfor %}

    </table>
    </div>
    {% block subcontent %}{% endblock subcontent %}
{% endblock content %}