{% extends "base.html" %}
{% load tamanage_extras %}
{% block content %}

    <div id ="messagebox">
        <div><strong>Name:</strong>{{ user.first_name }} {{ user.last_name }}</div>
        <div><strong>Email:</strong>{{ user.email }}</div>
        <div><strong>Phone:</strong>{{ user.phone }}</div>
        <div><strong>Address:</strong>{{ user.address }}</div>
        <div><strong>1st Pref:</strong>{{ user.preference1 }}</div>
        <div><strong>2st Pref:</strong>{{ user.preference2 }}</div>
        <div><strong>3st Pref:</strong>{{ user.preference3 }}</div>
        <br/>
        <h3>Schedule</h3>
        {% for course in schedule.course.all %}
            <div>{{course.course_name}}</div>
        {% endfor %}
        {% for labs in schedule.lab.all %}
            <div>{{labs|lab_name}}</div>
        {% endfor %}
    </div>

{% endblock content %}